html,
body {
  font-family: "PT Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.bg-primary,
.bg-secondary, 
.bg-areas, .bg-publications {
  background-image: url("../../public/assets/images/svgbg-ind.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.bg-primary::before, .bg-secondary::before{
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-areas, .bg-publications{
  height: 8rem;
}

.bg-areas h1:before, .bg-publications h1:before  {
    background-color: hsla(0,0%,97.6%,.5);
    border-radius: 5px;
    content: "";
    height: 3px;
    left: -100%;
    margin-left: .95rem;
    position: absolute;
    top: auto;
    min-width: 100%;
    width: 100px;
    margin-top: 1rem;
}

.bg-areas::before, {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button.bg-primary {
  background-image: none;
}

.grid {
display: grid;
grid-template-columns: 1fr;
}

.bg-fiord-200{
background-color:#eee;
}

@media (max-width: 767px) {
    #search::placeholder {
      visibility: hidden;
    }
  }

  @media (min-width: 768px){
    .grid {
    grid-template-columns: 3fr 1fr;
    }
  }